body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
p {
    text-shadow: 0px 0px 20px yellow;
}

ul li {
    cursor: pointer;
    box-shadow: yellow 0px 1px 2px;
}

ul li:active {
    box-shadow: rgb(255 255 0 / 50%) 3px 3px 3px 0px inset, rgb(255 255 0 / 50%) 1px 1px 1px 1px inset;
    font-size: 15px;
}

svg {
    fill: #D9A607;
    width: 150px;
    margin: auto;
    filter: drop-shadow(0px 0px 20px yellow);
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* CREDITOS DA ANIMAÇÃO: PROFESSOR MARCO DE FREITAS - SENAC SANTANA  */

.boxstars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background: #0b0b2d; */
    z-index: -10;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* Todas as estrelas */
.star {
    background: yellow;
    box-shadow: 0px 0px 30px yellow;
    /* background:#00b3e3; */
    border-radius: 50%;
    display: block;
    opacity: .5;
    position: fixed;
    z-index: 0
}

/* estrelas por ordem - serão 49 estrelas */

/*
     animation
        define uma animação (shortcode)
        Sintaxe: 
        nome duração time-function delay iteration-count direction fill-mode play-state
  
     animation-fill-mode
        define a retenção do estilo de um elemento (antes, durante, depois ou ambos) na animação
     */

/* início da s01 */
/* entrada para os mavegadores em geral */
.star:nth-child(1) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 68vw;
    opacity: .3333333333;
    top: 30vh;
    width: 3px
}

/* entrada para anvegador microsoft */
@media all and (-ms-high-contrast: none) {

    /* 
           esta entrada define que o alto contraste da Microsof fica desabilitato
           por conta de diversos fatores, em especial de incompatibilidade
           */
    /* definições da animação */
    .star:nth-child(1) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    /* todos os elementos superiores em uma pilha de elementos,  */
    .star:nth-child(1) *::-ms-backdrop,
    .star:nth-child(1) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

/* fim da s01 */

/* início da s02 */
/* entrada para os mavegadores em geral */
.star:nth-child(2) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 3vw;
    opacity: .3333333333;
    top: 32vh;
    width: 3px
}

/* entrada para anvegador microsoft */
@media all and (-ms-high-contrast: none) {

    /* definições da animação */
    .star:nth-child(2) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    /* todos os elementos superiores em uma pilha de elementos,  */
    .star:nth-child(2) *::-ms-backdrop,
    .star:nth-child(2) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

/* fim da s02 */

/* início da s03 */
/* entrada para os mavegadores em geral */
.star:nth-child(3) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: 71vw;
    opacity: .1111111111;
    top: -13vh;
    width: 1px
}

/* entrada para anvegador microsoft */
@media all and (-ms-high-contrast: none) {
    .star:nth-child(3) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(3) *::-ms-backdrop,
    .star:nth-child(3) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

/* fim da s03 */

/* continua ... */
.star:nth-child(4) {
    animation: starMovement--7 50s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 35vw;
    opacity: .7777777778;
    top: 53vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(4) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(4) *::-ms-backdrop,
    .star:nth-child(4) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(5) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 60vw;
    opacity: .2222222222;
    top: 4vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(5) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(5) *::-ms-backdrop,
    .star:nth-child(5) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(6) {
    animation: starMovement--8 40s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 45vw;
    opacity: .8888888889;
    top: 56vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(6) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(6) *::-ms-backdrop,
    .star:nth-child(6) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(7) {
    animation: starMovement--7 50s ease infinite forwards;
    animation-fill-mode: both;
    height: 7px;
    left: 67vw;
    opacity: .7777777778;
    top: -7vh;
    width: 7px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(7) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(7) *::-ms-backdrop,
    .star:nth-child(7) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(8) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: 5vw;
    opacity: .1111111111;
    top: 58vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(8) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(8) *::-ms-backdrop,
    .star:nth-child(8) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(9) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: -9vw;
    opacity: .4444444444;
    top: 2vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(9) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(9) *::-ms-backdrop,
    .star:nth-child(9) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(10) {
    animation: starMovement--6 60s ease infinite forwards;
    animation-fill-mode: both;
    height: 6px;
    left: 18vw;
    opacity: .8888888889;
    top: 37vh;
    width: 6px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(10) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(10) *::-ms-backdrop,
    .star:nth-child(10) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(11) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: 10vw;
    opacity: .1111111111;
    top: 62vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(11) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(11) *::-ms-backdrop,
    .star:nth-child(11) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(12) {
    animation: starMovement--8 40s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 14vw;
    opacity: .8888888889;
    top: 0vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(12) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(12) *::-ms-backdrop,
    .star:nth-child(12) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(13) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 36vw;
    opacity: .2222222222;
    top: 30vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(13) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(13) *::-ms-backdrop,
    .star:nth-child(13) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(14) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: 19vw;
    opacity: .1111111111;
    top: -8vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(14) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(14) *::-ms-backdrop,
    .star:nth-child(14) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(15) {
    animation: starMovement--6 60s ease infinite forwards;
    animation-fill-mode: both;
    height: 6px;
    left: 6vw;
    opacity: .6666666667;
    top: 38vh;
    width: 6px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(15) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(15) *::-ms-backdrop,
    .star:nth-child(15) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(16) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: 64vw;
    opacity: .1111111111;
    top: 0vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(16) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(16) *::-ms-backdrop,
    .star:nth-child(16) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(17) {
    animation: starMovement--8 40s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 79vw;
    opacity: .8888888889;
    top: 27vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(17) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(17) *::-ms-backdrop,
    .star:nth-child(17) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(18) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 71vw;
    opacity: .4444444444;
    top: 70vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(18) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(18) *::-ms-backdrop,
    .star:nth-child(18) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(19) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 67vw;
    opacity: .5555555556;
    top: 78vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(19) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(19) *::-ms-backdrop,
    .star:nth-child(19) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(20) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: -1vw;
    opacity: .1111111111;
    top: 4vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(20) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(20) *::-ms-backdrop,
    .star:nth-child(20) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(21) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 0vw;
    opacity: .4444444444;
    top: -10vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(21) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(21) *::-ms-backdrop,
    .star:nth-child(21) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(22) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 83vw;
    opacity: .2222222222;
    top: 31vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(22) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(22) *::-ms-backdrop,
    .star:nth-child(22) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(23) {
    animation: starMovement--8 40s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 15vw;
    opacity: .8888888889;
    top: 37vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(23) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(23) *::-ms-backdrop,
    .star:nth-child(23) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(24) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 58vw;
    opacity: .5555555556;
    top: 62vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(24) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(24) *::-ms-backdrop,
    .star:nth-child(24) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(25) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 13vw;
    opacity: .5555555556;
    top: 75vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(25) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(25) *::-ms-backdrop,
    .star:nth-child(25) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(26) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 42vw;
    opacity: .2222222222;
    top: 28vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(26) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(26) *::-ms-backdrop,
    .star:nth-child(26) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(27) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 59vw;
    opacity: .5555555556;
    top: 35vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(27) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(27) *::-ms-backdrop,
    .star:nth-child(27) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(28) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 49vw;
    opacity: .5555555556;
    top: -10vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(28) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(28) *::-ms-backdrop,
    .star:nth-child(28) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(29) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 41vw;
    opacity: .3333333333;
    top: -1vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(29) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(29) *::-ms-backdrop,
    .star:nth-child(29) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(30) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 51vw;
    opacity: .3333333333;
    top: 20vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(30) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(30) *::-ms-backdrop,
    .star:nth-child(30) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(31) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: -3vw;
    opacity: .2222222222;
    top: 12vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(31) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(31) *::-ms-backdrop,
    .star:nth-child(31) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(32) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 24vw;
    opacity: .5555555556;
    top: 65vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(32) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(32) *::-ms-backdrop,
    .star:nth-child(32) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(33) {
    animation: starMovement--9 30s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: -9vw;
    opacity: 1;
    top: 14vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(33) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(33) *::-ms-backdrop,
    .star:nth-child(33) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(34) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 16vw;
    opacity: .3333333333;
    top: 35vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(34) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(34) *::-ms-backdrop,
    .star:nth-child(34) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(35) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 40vw;
    opacity: .4444444444;
    top: 44vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(35) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(35) *::-ms-backdrop,
    .star:nth-child(35) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(36) {
    animation: starMovement--9 30s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 57vw;
    opacity: 1;
    top: -8vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(36) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(36) *::-ms-backdrop,
    .star:nth-child(36) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(37) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 46vw;
    opacity: .4444444444;
    top: 38vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(37) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(37) *::-ms-backdrop,
    .star:nth-child(37) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(38) {
    animation: starMovement--5 70s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 35vw;
    opacity: .5555555556;
    top: 70vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(38) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(38) *::-ms-backdrop,
    .star:nth-child(38) {
        animation: starMovement__ie--5 70s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(39) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: -5vw;
    opacity: .3333333333;
    top: 45vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(39) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(39) *::-ms-backdrop,
    .star:nth-child(39) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(40) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 21vw;
    opacity: .3333333333;
    top: 31vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(40) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(40) *::-ms-backdrop,
    .star:nth-child(40) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(41) {
    animation: starMovement--3 90s ease infinite forwards;
    animation-fill-mode: both;
    height: 3px;
    left: 83vw;
    opacity: .3333333333;
    top: 49vh;
    width: 3px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(41) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(41) *::-ms-backdrop,
    .star:nth-child(41) {
        animation: starMovement__ie--3 90s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(42) {
    animation: starMovement--9 30s ease infinite forwards;
    animation-fill-mode: both;
    height: 5px;
    left: 29vw;
    opacity: 1;
    top: -9vh;
    width: 5px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(42) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(42) *::-ms-backdrop,
    .star:nth-child(42) {
        animation: starMovement__ie--9 30s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(43) {
    animation: starMovement--7 50s ease infinite forwards;
    animation-fill-mode: both;
    height: 7px;
    left: 13vw;
    opacity: .7777777778;
    top: 59vh;
    width: 7px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(43) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(43) *::-ms-backdrop,
    .star:nth-child(43) {
        animation: starMovement__ie--7 50s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(44) {
    animation: starMovement--6 60s ease infinite forwards;
    animation-fill-mode: both;
    height: 6px;
    left: 2vw;
    opacity: .6666666667;
    top: 76vh;
    width: 6px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(44) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(44) *::-ms-backdrop,
    .star:nth-child(44) {
        animation: starMovement__ie--6 60s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(45) {
    animation: starMovement--2 100s ease infinite forwards;
    animation-fill-mode: both;
    height: 2px;
    left: 12vw;
    opacity: .2222222222;
    top: 7vh;
    width: 2px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(45) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(45) *::-ms-backdrop,
    .star:nth-child(45) {
        animation: starMovement__ie--2 100s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(46) {
    animation: starMovement--8 40s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 52vw;
    opacity: .8888888889;
    top: 5vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(46) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(46) *::-ms-backdrop,
    .star:nth-child(46) {
        animation: starMovement__ie--8 40s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(47) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 62vw;
    opacity: .4444444444;
    top: -8vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(47) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(47) *::-ms-backdrop,
    .star:nth-child(47) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(48) {
    animation: starMovement--1 110s ease infinite forwards;
    animation-fill-mode: both;
    height: 1px;
    left: -9vw;
    opacity: .1111111111;
    top: 55vh;
    width: 1px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(48) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(48) *::-ms-backdrop,
    .star:nth-child(48) {
        animation: starMovement__ie--1 110s ease infinite forwards;
        animation-fill-mode: both;
    }
}

.star:nth-child(49) {
    animation: starMovement--4 80s ease infinite forwards;
    animation-fill-mode: both;
    height: 4px;
    left: 41vw;
    opacity: .4444444444;
    top: 26vh;
    width: 4px;
}

@media all and (-ms-high-contrast: none) {
    .star:nth-child(49) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }

    .star:nth-child(49) *::-ms-backdrop,
    .star:nth-child(49) {
        animation: starMovement__ie--4 80s ease infinite forwards;
        animation-fill-mode: both;
    }
}


/* ######## aqui começam os Keyframes das animações ######## */

/*
  Métodos de transformações possíveis
  
  translate() = valores de X e Y movimentamo objeto no carteziano
  rotate() = rotaciona o objeto 
  scaleX() = muda a escala de largura do objeto (n)
  scaleY() = muda a escala de altura do objeto (n)
  scale() = muda a escala do objeto em largura e altura (nX, nY)
  skewX() = inclina o objeto em Latitude (Xdeg)
  skewY() = inclina o objeto em longitude (Ydeg)
  skew() = inclina o objeto em latitude e longitude (Xdeg, Ydeg)
  matrix() = matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
     obs: se não há mudança em alguma propriedade, manter 0 (Zero) no valor
  */

/* teremos 9 modelos de animação */
/* modelo de animação 01 - navegadores em geral */
@keyframes starMovement--1 {
    0% {
        opacity: 0;
        transform: translate(0, 3vh)
    }

    25% {
        opacity: .1111111111
    }

    75% {
        opacity: .1111111111
    }

    100% {
        opacity: 0;
        transform: translate(3vw, -1vh)
    }
}

/* modelo de animação 01 - internet explorer */
@keyframes starMovement__ie--1 {
    0% {
        opacity: 0;
        transform: translate(0, 20px)
    }

    25% {
        opacity: .1111111111
    }

    75% {
        opacity: .1111111111
    }

    100% {
        opacity: 0;
        transform: translate(20px, -7px)
    }
}


/* modelo de animação 02 - navegadores em geral */
@keyframes starMovement--2 {
    0% {
        opacity: 0;
        transform: translate(0, 6vh)
    }

    25% {
        opacity: .2222222222
    }

    75% {
        opacity: .2222222222
    }

    100% {
        opacity: 0;
        transform: translate(6vw, -2vh)
    }
}

/* modelo de animação 02 - internet explorer */
@keyframes starMovement__ie--2 {
    0% {
        opacity: 0;
        transform: translate(0, 40px)
    }

    25% {
        opacity: .2222222222
    }

    75% {
        opacity: .2222222222
    }

    100% {
        opacity: 0;
        transform: translate(40px, -14px)
    }
}


/* modelo de animação 03 - navegadores em geral */

@keyframes starMovement--3 {
    0% {
        opacity: 0;
        transform: translate(0, 9vh)
    }

    25% {
        opacity: .3333333333
    }

    75% {
        opacity: .3333333333
    }

    100% {
        opacity: 0;
        transform: translate(9vw, -3vh)
    }
}

/* modelo de animação 03 - internet explorer */
@keyframes starMovement__ie--3 {
    0% {
        opacity: 0;
        transform: translate(0, 60px)
    }

    25% {
        opacity: .3333333333
    }

    75% {
        opacity: .3333333333
    }

    100% {
        opacity: 0;
        transform: translate(60px, -21px)
    }
}


/* modelo de animação 04 - navegadores em geral */

@keyframes starMovement--4 {
    0% {
        opacity: 0;
        transform: translate(0, 12vh)
    }

    25% {
        opacity: .4444444444
    }

    75% {
        opacity: .4444444444
    }

    100% {
        opacity: 0;
        transform: translate(12vw, -4vh)
    }
}

/* modelo de animação 04 - internet explorer */
@keyframes starMovement__ie--4 {
    0% {
        opacity: 0;
        transform: translate(0, 80px)
    }

    25% {
        opacity: .4444444444
    }

    75% {
        opacity: .4444444444
    }

    100% {
        opacity: 0;
        transform: translate(80px, -28px)
    }
}


/* modelo de animação 05 - navegadores em geral */

@keyframes starMovement--5 {
    0% {
        opacity: 0;
        transform: translate(0, 15vh)
    }

    25% {
        opacity: .5555555556
    }

    75% {
        opacity: .5555555556
    }

    100% {
        opacity: 0;
        transform: translate(15vw, -5vh)
    }
}

/* modelo de animação 05 - internet explorer */
@keyframes starMovement__ie--5 {
    0% {
        opacity: 0;
        transform: translate(0, 100px)
    }

    25% {
        opacity: .5555555556
    }

    75% {
        opacity: .5555555556
    }

    100% {
        opacity: 0;
        transform: translate(100px, -35px)
    }
}


/* modelo de animação 06 - navegadores em geral */

@keyframes starMovement--6 {
    0% {
        opacity: 0;
        transform: translate(0, 18vh)
    }

    25% {
        opacity: .6666666667
    }

    75% {
        opacity: .6666666667
    }

    100% {
        opacity: 0;
        transform: translate(18vw, -6vh)
    }
}

/* modelo de animação 06 - internet explorer */
@keyframes starMovement__ie--6 {
    0% {
        opacity: 0;
        transform: translate(0, 120px)
    }

    25% {
        opacity: .6666666667
    }

    75% {
        opacity: .6666666667
    }

    100% {
        opacity: 0;
        transform: translate(120px, -42px)
    }
}


/* modelo de animação 07 - navegadores em geral */

@keyframes starMovement--7 {
    0% {
        opacity: 0;
        transform: translate(0, 21vh)
    }

    25% {
        opacity: .7777777778
    }

    75% {
        opacity: .7777777778
    }

    100% {
        opacity: 0;
        transform: translate(21vw, -7vh)
    }
}

/* modelo de animação 07 - internet explorer */
@keyframes starMovement__ie--7 {
    0% {
        opacity: 0;
        transform: translate(0, 140px)
    }

    25% {
        opacity: .7777777778
    }

    75% {
        opacity: .7777777778
    }

    100% {
        opacity: 0;
        transform: translate(140px, -49px)
    }
}


/* modelo de animação 08 - navegadores em geral */

@keyframes starMovement--8 {
    0% {
        opacity: 0;
        transform: translate(0, 24vh)
    }

    25% {
        opacity: .8888888889
    }

    75% {
        opacity: .8888888889
    }

    100% {
        opacity: 0;
        transform: translate(24vw, -8vh)
    }
}

/* modelo de animação 08 - internet explorer */
@keyframes starMovement__ie--8 {
    0% {
        opacity: 0;
        transform: translate(0, 160px)
    }

    25% {
        opacity: .8888888889
    }

    75% {
        opacity: .8888888889
    }

    100% {
        opacity: 0;
        transform: translate(160px, -56px)
    }
}


/* modelo de animação 09 - navegadores em geral */

@keyframes starMovement--9 {
    0% {
        opacity: 0;
        transform: translate(0, 27vh)
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translate(27vw, -9vh)
    }
}

/* modelo de animação 09 - internet explorer */
@keyframes starMovement__ie--9 {
    0% {
        opacity: 0;
        transform: translate(0, 180px)
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translate(180px, -63px)
    }
}


/* CREDITOS DA ANIMAÇÃO: PROFESSOR MARCO DE FREITAS - SENAC SANTANA  */


@media(max-width:930px) {
    div.boxstars {
        height: 80%;
    }

}

@media(max-width:530px) {
    div.boxstars {
        height: 80%;
    }
}